Source: python-pyweb
Section: python
Priority: extra
Maintainer: shell <shell909090@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
XS-Python-Version: >=2.5
Homepage: http://code.google.com/p/py-web-server/

Package: python-pyweb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: A web framework written by python.
 A web framework written by python.
